<template>
    <div>
        <div class="contacts-form-block">
            <div class="title-form-block">{{titleText}}</div>
            <div><input ref="name_input" :placeholder="lang.WHO_AM_I" class="input-contact"
                   v-bind:class="{ 'input-contact-black': isBlack ,'empty_input': isEmptyName}" type="text"><span v-if="isEmptyName" class="important-star">*</span></div>
            <div><input ref="phone_input" :placeholder="lang.PHONE" class="input-contact"
                   v-bind:class="{ 'input-contact-black': isBlack,'empty_input': isEmptyPhone }" type="text"><span v-if="isEmptyPhone" class="important-star">*</span></div>
            <div v-if="isShowConfirmBlock" class="confirm-block">
                <img src="../assets/confirm.png" alt="">
                <div class="text-confirm">{{lang.IS_CONFIRMED_CALLBACK}}</div>
            </div>
            <div @click="sendInfo" class="info-block-button call-me-button">{{lang.GET_CALLBACK}}</div>

            <div class="policy-block">{{lang.POLICY_TEXT}} <a href="/policy.html">{{lang.POLICY_LINK}}</a></div>
        </div>

    </div>
</template>

<script>
    import axios from "axios";

    export default {
        data() {
            return {
                isEmptyName: false,
                isEmptyPhone: false,
                isShowConfirmBlock: false
            }
        },
        name: "ContactForm",
        props: ["isBlack","titleText","lang"],
        methods: {
            sendInfo() {

                var name = this.$refs.name_input.value;
                var phone = this.$refs.phone_input.value
                this.isEmptyName = false
                this.isEmptyPhone = false
                if(name !== "" && phone !== "") {
                    axios.post('/php/sendmail.php', {
                        name: name,
                        phone: phone
                    })

                    this.isShowConfirmBlock = true;

                    setTimeout(() => {
                        this.isShowConfirmBlock = false;
                    },5000)
                    this.$refs.name_input.value = ""
                    this.$refs.phone_input.value = ""
                } else {
                    if(name === "") {
                        this.isEmptyName = true
                    }
                    if(phone === "") {
                        this.isEmptyPhone = true
                    }
                }



            }
        }
    }
</script>

<style scoped>

    .contacts-form-block {
        display: flex;
        flex-direction: column;
    }

    .input-contact-black {
        background-color: #F4F2F9;
    }
    .input-contact-important {
        border: 1px chocolate solid;
    }
    .input-contact {
        width: 27rem;
        height: 3.85rem;
        border-radius: 2rem;
        box-sizing: border-box;

        border: none;
        padding-left: 2.2rem;
        padding-top: 0.9rem;
        padding-bottom: 1.2rem;
        color: rgba(31,43,57,.5);
        font-weight: 300;
        margin-bottom: 0.5rem;
        outline: none;
        font-size: 1rem;
        margin-left: -0.1rem;
    }

    .title-form-block {
        color: #071627;
        font-weight: bold;
        margin-bottom: 0.85rem;
    }

    .call-me-button {
        margin-top: 0;
        width: 27.05rem;
        margin-left: -0.1rem;
    }

    .important-star {
        color: #1463DB;
        font-size: 1.2rem;
        margin-left: 0.65rem;
    }

    .empty_input {
        border: 1px #1463DB solid;
    }

    .text-confirm {
        font-weight: bold;
        color: #1463DB;
        font-size: 0.9rem;
        margin-left: 1.3rem;
        float: right;
    }

    .confirm-block img {
        width: 1.2rem;
    }
    .confirm-block {
        margin-left: 0.5rem;
        margin-bottom: 1.4rem;
    }

    .policy-block a {
        color: #1F2B39;
    }
    .policy-block {
        width: 25rem;
        margin-top: 0.75rem;
        font-size: 0.9rem;
    }
</style>