<template>
    <footer class="footer-site">
        <div class="main-content">
            <div class="footer-copyright">{{this.$parent.lang.COPYRIGHT}}</div>
            <div @click="scrollToUp" class="to-up">
                <img style="width: 1.1rem;margin-right: 0.5rem" src="../assets/to_up_arrow.png" alt="">
                <span>
{{this.$parent.lang.TO_TOP}}
                </span>
            </div>
        </div>

    </footer>
</template>

<script>
    export default {
        name: "Footer",
        methods :{
            scrollToUp() {
                this.app.$refs['service'].scrollTo()
            }

        },
        props:["app"]

    }
</script>

<style scoped>
    .footer-site {
        display: flex;
        align-items: center;
        margin-top: 13rem;
        width: 100%;
        height: 4.35rem;
        background-color: #071627;
    }

    .footer-copyright {
        color: rgba(255,255,255,.5);
        float: left;
    }

    .to-up {
        color: #fff;
        cursor: pointer;
        float: right;
    }
</style>