<template>
    <div  class="medal-container">

        <div v-if="isReadData && curMedalNum < listMedals.length-1" @click="nextMedal" class="right-button"></div>
        <div v-if="curMedalNum > 0" @click="prevMedal" class="left-button"></div>

        <div class="info-container">


        <div class="info-block-medal main-content">
            <div @click="this.$parent.closeListMedals" class="close-list-btn"></div>
            <div class="gray-block"></div>
            <div class="list-contact-form">

                <ContactForm :lang="this.$parent.lang" :title-text="this.$parent.lang.FORM_TITLE_IN_LIST_MEDAL"/>
            </div>
            <img class="bloc-medal-img" v-bind:src="'/img/MedalList/'+(listMedals[curMedalNum].medal_num )" alt="">

            <div ref="blockWithInfo" class="inner-block-medal">
                <div class="info-block-title info-block-title-black title-size">
                    {{listMedals[curMedalNum].desc}}
                </div>
                <ul>
                    <li v-bind:key="index" v-for="(best,index) in listMedals[curMedalNum].list_best" ><span v-html="best"></span></li>
                </ul>



            </div>


        </div></div>
    </div>
</template>

<script>
    import axios from "axios";

    import ContactForm from "@/components/ContactForm";
    import Velocity from 'velocity-animate'

    export default {
        name: "ListMedals",
        data() {
            return {
                listMedals: [],
                curMedalNum: 0,
                isRunAnim: false,
                isReadData:false
            }
        },
        methods: {
            nextMedal() {

                if(this.isRunAnim) return

                this.isRunAnim = true;
                var main = this;
                var blockAnim = this.$refs.blockWithInfo;
                Velocity(blockAnim, {opacity: '0'}, {duration: 400, complete: function () {
                        main._next()

                        Velocity(blockAnim, {opacity: '1'}, {duration: 400, })
                    }})


            },
            _next() {
                this.curMedalNum ++;
                if(this.curMedalNum >= this.listMedals.length) {
                    this.curMedalNum = this.listMedals.length-1;
                }
                this.isRunAnim = false
            },
            _prev() {
                this.curMedalNum --;
                if(this.curMedalNum < 0) {
                    this.curMedalNum = 0;
                }
                this.isRunAnim = false

            },
            prevMedal() {

                if(this.isRunAnim) return

                this.isRunAnim = true;
                var main = this;
                var blockAnim = this.$refs.blockWithInfo;
                Velocity(blockAnim, {opacity: '0'}, {duration: 400, complete: function () {
                        main._prev()

                        Velocity(blockAnim, {opacity: '1'}, {duration: 400, })
                    }})
            }
        },
        mounted() {
            this.curMedalNum = this.$parent.numOpenList

            var language = this.$parent.language;
            axios.get( '/medal_list_'+language+'.json').then(response => {
                this.listMedals = response.data;
                this.isReadData = true;
            })

        },
        components: {
            ContactForm
        }
    }
</script>

<style scoped>
    .medal-container {
        position: fixed;
        z-index: 10000;
        width: 100%;
        height: 100%;
        background-color: rgba(6,19,35,.6);
    }

    .info-block-medal ul {
        padding: 0;
        margin-left: 1.5rem;
        margin-top: 2rem;
        margin-bottom: 5.25rem;
    }
    .info-block-medal li {
        color: #1463DB;
        font-size: 1.2rem;
        margin-bottom: 0.7rem;
        width: 27rem;
    }

    .info-block-medal li span{
        color: #0C1A2A;
        font-size: 1rem;
        margin-left: -0.3rem;
    }
    .info-block-medal {
        top: 50%;
        margin-top: -21rem;
        padding: 3.3rem;
        box-sizing: border-box;
        background-color: #fff;
        height: 45rem;

    }

    .gray-block {
        position: absolute;
        width: 100%;
        height: 53%;
        background-color: #E7EAEF;
        bottom: 0;
        left: 0;
        z-index: 1;

    }

    .inner-block-medal {
        position: relative;
        width: 100%;
        z-index: 2;
    }

    .bloc-medal-img {
        display: block;
        position: absolute;
        bottom: 5rem;
        right: 5rem;
        width: 32rem;
        z-index: 23;
    }

    .left-button:hover {
        background-color: #fff;
        background-image: url("../assets/medal_list_arrow_black.png");

    }
    .left-button {
        position: absolute;
        width: 6.8rem;
        height: 35.5rem;
        background-color: rgba(255,255,255,0.1);
        top: 50%;
        margin-top: -17.75rem;
        cursor: pointer;
        transition: all 0.3s;
        background-image: url("../assets/medal_list_arrow.png");
        background-repeat: no-repeat;
        background-size: 1.4rem;
        background-position: center;

    }

    .right-button:hover {
        background-color: #fff;
        background-image: url("../assets/medal_list_arrow_black.png");

    }
    .right-button {
        position: absolute;
        width: 6.8rem;
        height: 35.5rem;
        background-color: rgba(255,255,255,0.1);
        top: 50%;
        margin-top: -17.75rem;
        cursor: pointer;
        transition: all 0.3s;
        background-image: url("../assets/medal_list_arrow.png");
        background-repeat: no-repeat;
        background-size: 1.4rem;
        background-position: center;
        transform: scaleX(-1);
        right: 0;
    }

    .close-list-btn:hover {
        background-color: #E7EAEF;
    }
    .close-list-btn {
        position: absolute;
        top: 0;
        right: 0;
        width: 4.5rem;
        height: 4.5rem;
        background-image: url("../assets/close_list_medal_icon.png");
        background-size: 2.4rem;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .info-container {
        margin-right: 16rem;
        height: 100%;
    }

    .title-size {
        width: 45rem;
    }

    .list-contact-form {
        position: absolute;
        bottom: 3rem;
        z-index: 22;
    }
</style>