<template>
    <div class="page">
        <div class="page-container">
            <img src="../assets/girl.png" alt="" class="girl">

            <div class="main-content">
                <img src="../assets/page2_medal_2.png" alt="" class="medal">
                <div class="info-block-2">
                    <div class="info-block-mark info-block-mark-black">{{this.$parent.lang.PAGE_3_MARK}}</div>
                    <div class="info-block-title info-block-title-black">{{this.$parent.lang.PAGE_3_TITLE}}</div>
                    <div class="info-block-text info-block-text-black">{{this.$parent.lang.PAGE_3_TEXT}}</div>
                    <div @click="openMedal" class="info-block-button">{{this.$parent.lang.MORE_INFO_MEDAL}}</div>
                </div>
            </div>
        </div>


    </div>
</template>

<script>
    export default {
        name: "Page2",
        methods: {
            openMedal() {
                var root = this.$parent;

                root.openListMedals(root.linkMainPage[1] - 1)
            }
        }
    }
</script>

<style scoped>
    .page-container {

        position: absolute;
        background-color: #E7EAEF;
        width: 100%;
        height: 49rem;
        bottom: 0;
    }

    .girl {
        position: absolute;
        display: block;
        width: 30rem;
        right: 0;
        bottom: 0;
    }

    .medal {
        display: block;
        position: absolute;
        width: 30.65rem;
        left: 0;
        top: 11.55rem;
    }

    .info-block-2 {
        position: absolute;
        width: 40rem;
        height: 17.5rem;
        right: 21rem;
        top: 14rem;
        background-image: url("../assets/line_info_block_2.png");
        background-repeat: no-repeat;
        background-position: 14.05rem 0.7rem;
        background-size: 25.9rem;
    }
</style>