<template>
    <div class="page8">
        <div class="fill-gray"></div>
        <div class="main-content review-block">
            <div class="info-block-title info-block-title-black">{{this.$parent.$parent.lang.REVIEW_OUR_JOB}}</div>
            <div class="info-block-text info-block-text-black">{{this.$parent.$parent.lang.REVIEW_OUR_JOB_TEXT}}</div>
            <div class="vk-container">
                <div class="vk-block" id="vk_comments"></div>

            </div>
            <script type="application/javascript">
                VK.Widgets.Comments("vk_comments", {limit: 5, attach: false});
            </script>

        </div>
    </div>
</template>

<script>
    export default {
        name: "Page8"
    }
</script>

<style scoped>

    .fill-gray {
        position: absolute;
        width: 100%;
        height: 30.75rem;
        background-color: #E7EAEF;
    }

    .vk-block {
        margin-top: 3.35rem;
    }

    .page8 {
        position: relative;
        width: 100%;
        margin-bottom: 5rem;
    }

    .vk-container {
        margin-right: 16rem;
    }
</style>
<style>

    .review-block {
        position: relative;
        top: 10rem;


    }
</style>