<template>
    <div class="page page7">
        <div class="main-content why-order-me">
            <div class="info-block-title info-block-title-black">{{this.$parent.$parent.lang.WHY_ORDER_US}}</div>
            <div class="reason-why-order">
                <div class="reason-item">
                    <div class="reason-icon">
                        <img style="width: 3rem" src="../assets/IconsReasonOrder/icon_0.png" alt="">

                    </div>
                    <div class="reason-item-block-text">
                        <div class="reason-item-title">
                            {{this.$parent.$parent.lang.WHY_ORDER_REASON_1_TITLE}}
                        </div>
                        <div class="reason-item-text">
                            {{this.$parent.$parent.lang.WHY_ORDER_REASON_1_TEXT}}
                        </div>
                    </div>
                </div>
                <div class="reason-item">
                    <div class="reason-icon">
                        <img style="width: 3rem" src="../assets/IconsReasonOrder/icon_3.png" alt="">

                    </div>
                    <div class="reason-item-block-text">
                        <div class="reason-item-title">
                            {{this.$parent.$parent.lang.WHY_ORDER_REASON_2_TITLE}}
                        </div>
                        <div class="reason-item-text">
                            {{this.$parent.$parent.lang.WHY_ORDER_REASON_2_TEXT}}
                        </div>
                    </div>
                </div>

                <div class="reason-item">
                    <div class="reason-icon">
                        <img style="width: 3rem" src="../assets/IconsReasonOrder/icon_1.png" alt="">

                    </div>
                    <div class="reason-item-block-text">
                        <div class="reason-item-title">
                            {{this.$parent.$parent.lang.WHY_ORDER_REASON_3_TITLE}}
                        </div>
                        <div class="reason-item-text">
                            {{this.$parent.$parent.lang.WHY_ORDER_REASON_3_TEXT}}
                        </div>
                    </div>
                </div>
                <div class="reason-item">
                    <div class="reason-icon">
                        <img style="width: 3rem" src="../assets/IconsReasonOrder/icon_4.png" alt="">

                    </div>
                    <div class="reason-item-block-text">
                        <div class="reason-item-title">
                            {{this.$parent.$parent.lang.WHY_ORDER_REASON_4_TITLE}}
                        </div>
                        <div class="reason-item-text">
                            {{this.$parent.$parent.lang.WHY_ORDER_REASON_4_TEXT}}
                        </div>
                    </div>
                </div>
                <div class="reason-item">
                    <div class="reason-icon">
                        <img style="width: 3rem" src="../assets/IconsReasonOrder/icon_2.png" alt="">

                    </div>
                    <div class="reason-item-block-text">
                        <div class="reason-item-title">
                            {{this.$parent.$parent.lang.WHY_ORDER_REASON_5_TITLE}}
                        </div>
                        <div class="reason-item-text">
                            {{this.$parent.$parent.lang.WHY_ORDER_REASON_5_TEXT}}
                        </div>
                    </div>
                </div>
                <div class="reason-item">
                    <div class="reason-icon">
                        <img style="width: 3rem" src="../assets/IconsReasonOrder/icon_5.png" alt="">

                    </div>
                    <div class="reason-item-block-text">
                        <div class="reason-item-title">
                            {{this.$parent.$parent.lang.WHY_ORDER_REASON_6_TITLE}}
                        </div>
                        <div class="reason-item-text">
                            {{this.$parent.$parent.lang.WHY_ORDER_REASON_6_TEXT}}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Page7"
    }
</script>

<style scoped>
    .page7 {
        margin-top: 15.15rem;
    }


    .why-order-me {
        top: 10rem;

    }




    .image-right {
        display: block;
        position: absolute;
        width: 24.05rem;
        bottom: 18.8rem;
        right: 0;
    }

    .left-image {
        display: block;
        position: absolute;
        width: 26.8rem;
        bottom: 26rem;
    }


</style>
<style>
    .reason-why-order {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 4rem;
        margin-right: 16rem;
    }

    .reason-item {
        display: flex;
        margin-bottom: 3rem;
        width: 38rem;

    }

    .reason-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 6.15rem;
        height: 6.15rem;
        background-color: #1463DB;
        border-radius: 3.075rem;
    }

    .reason-item-block-text {
        margin-left: 2rem;

    }

    .reason-item-title {
        margin-bottom: 1.07rem;
        color: #071627;
        font-size: 1.35rem;
        font-weight: bold;
        width: 25rem;
    }
    .reason-item-text {
        width: 23rem;
        font-style: italic;
        font-size: 0.95rem;
        color: rgba(7,22,39,.7);
    }
</style>