<template>
    <div class="page">
        <div class="main-content contacts-block">
            <div class="info-block-title info-block-title-black">{{this.$parent.$parent.lang.OUR_CONTACTS}}</div>
            <div class="contact-info">
                <div class="contact-one">
                    <img style="width: 1.2rem" src="../assets/contact_icon_whats.png" alt="">
                    <a :href="this.$parent.$parent.$refs.socialContact.icons[0].link">{{this.$parent.$parent.$refs.socialContact.getFormatPhone()}}</a>
                </div>
                <div class="contact-one">
                    <img style="width: 1.2rem" src="../assets/contact_icon_mail.png" alt="">
                    <a :href="this.$parent.$parent.$refs.socialContact.icons[1].link">{{getFormatEmail()}}</a>
                </div>
                <a style="margin-left: auto;margin-right: 2.8rem"
                   :href="this.$parent.$parent.$refs.socialContact.icons[2].link" target="_blank"> <img style="width: 1.55rem" src="../assets/contact_icon_vk.png" alt=""></a>
                <a :href="this.$parent.$parent.$refs.socialContact.icons[3].link" target="_blank"> <img style="width: 0.85rem" src="../assets/contact_icon_ok.png" alt=""></a>
            </div>

            <div class="map-container">
                <script type="application/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac751b91a92d54a5960e267c089ba30c63dbca5e66027cc57ead985aff3fe930f&amp;width=100%25&amp;height=20rem&amp;lang=ru_RU&amp;scroll=true"></script>
            </div>
            <div class="bottom-info-contacts">
                <ContactForm :is-black="true" :title-text="this.$parent.$parent.lang.HAVE_QUESTIONS" :lang="this.$parent.$parent.lang"/>
                <div class="contacts-block-address">
                    <div class="title-address-contacts">
                        {{this.$parent.$parent.lang.ADDRESS}}
                    </div>
                    <div class="block-address">
                        <div class="one-address">
                            <img  style="width: 1.25rem" src="../assets/place_icon.png" alt="">
                            <span class="address-text">г. Тамбов, ул. Мичуринская, д. 92. (Открыто до 18:00)</span>

                        </div>
                        <div class="one-address">
                            <img  style="width: 1.25rem" src="../assets/place_icon.png" alt="">
                            <span class="address-text">г. Тамбов, ул. Мичуринская, д. 141А (Открыто до 18:00)</span>

                        </div>
                        <div class="one-address">
                            <img  style="width: 1.25rem" src="../assets/place_icon.png" alt="">
                            <span class="address-text">г. Тамбов, б-р. Энтузиастов, 2Д (Открыто до 18:00)</span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import ContactForm from "@/components/ContactForm";

    export default {
        name: "Page10",
        components: {
            ContactForm
        },
        methods: {
            getFormatEmail() {
                return this.$parent.$parent.$refs.socialContact.icons[1].link.substr(7)
            }
        }
    }
</script>

<style scoped>


    .contacts-block {
        top: 10rem;
    }

    .contact-info {
        display: flex;
        margin-top: 1.4rem;
        margin-bottom: 2.1rem;
    }

    .contact-one {
        display: flex;
        align-items: center;
        margin-right: 2.3rem;
    }
    .contact-one a {
        text-decoration: none;
        color: #828992;
        margin-left: 0.5rem;
    }

    .bottom-info-contacts {
        display: flex;
        width: 100%;
        margin-top: 4.2rem;

    }

    .contacts-block-address {
        margin-left: 9.6rem;

    }

    .title-address-contacts {
        color: #071627;
        font-weight: bold;
        font-size: 1.35rem;
    }

    .address-text {
        font-family: 'Roboto Condensed', sans-serif;
        color: #071627;
        font-weight: 300;
        margin-left: 0.5rem;
    }

    .one-address {
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;
    }

    .block-address {
        margin-top: 1.4rem;
    }

    .map-container {
        margin-right: 16rem;
    }
</style>