<template>
    <div class="page">

        <div class="main-content block-two-medals">
            <div class="offset-info">
                <div class="info-block-mark info-block-mark-black">{{this.$parent.$parent.lang.QUALITY_IN_ALL_PARTS}}</div>
                <div class="info-block-title info-block-title-black">{{this.$parent.$parent.lang.PAGE_2_TITLE}}</div>
                <div class="info-block-text info-block-text-black info-block-page-1-2">{{this.$parent.$parent.lang.BIG_CHOICE_COLOR}}</div>
                <div @click="openList" class="info-block-button center-button">{{this.$parent.$parent.lang.MORE_INFO_MEDAL}}</div>
            </div>


            <img src="../assets/medal_page3_back.png" alt="" class="left-medal">
            <img src="../assets/medal_page3.png" alt="" class="right-medal">
            <div class="cool-side-block">
                <img class="swap-icon" src="../assets/icon_swap.png" alt="">
                <div>{{this.$parent.$parent.lang.ALL_SIDE_BEST}}</div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Page3",
        methods: {
            openList() {
                var num = this.$parent.$parent.linkMainPage[0] -1;
                this.$parent.$parent.openListMedals(num)
            }
        }
    }
</script>

<style scoped>

    .block-two-medals {
        text-align: center;
        top: 8rem;
    }
    .center-button {
        position: relative;
        left: 50%;
        margin-left: -7.45rem;
    }

    .left-medal {
        width: 30rem;
        position: absolute;
        display: block;
        bottom: -12.5rem;
        z-index: 3;
        left: 2rem;

    }

    .right-medal {
        width: 30rem;
        position: absolute;
        display: block;
        bottom: -12.5rem;
        right: 18rem;
        z-index: 3;
    }

    .cool-side-block {
        position: relative;
        left: 50%;
        margin-left: -11.9rem;
        z-index: 5;
        width: 8.1rem;
        height: 5rem;
        text-align: center;
        font-style: italic;
        color: #1463DB;
        margin-top: 9rem;
    }

    .swap-icon {
        width: 1.7rem;
    }


    .info-block-page-1-2 {
        width: 19rem;
        margin-left: auto;
        margin-right: auto;
    }

    .offset-info {
        position: relative;
        right: 8rem;
    }
</style>