<template>
    <div class="page page9">
        <div class="main-content vacancies">
            <div class="info-block-title">
                {{this.$parent.$parent.lang.VACANCIES_TITLE}}
            </div>
            <div class="info-block-text">{{this.$parent.$parent.lang.VACANCIES_PHONE}}</div>
            <div class="reason-why-order">
                <div v-if="this.$parent.$parent.lang.VACANCIES_1_TITLE !== ''" class="reason-item">
                    <div class="reason-icon">
                        <img style="width: 3rem" src="../assets/IconsReasonOrder/icon_0.png" alt="">

                    </div>
                    <div class="reason-item-block-text">
                        <div class="reason-item-title color-white-title">
                            {{this.$parent.$parent.lang.VACANCIES_1_TITLE}}
                        </div>
                        <div class="reason-item-text color-white-text">
                            {{this.$parent.$parent.lang.VACANCIES_1_TEXT}}
                        </div>
                    </div>
                </div>
                <div v-if="this.$parent.$parent.lang.VACANCIES_2_TITLE !== ''" class="reason-item">
                    <div class="reason-icon">
                        <img style="width: 3rem" src="../assets/IconsVacancies/icon_0.png" alt="">

                    </div>
                    <div class="reason-item-block-text">
                        <div class="reason-item-title color-white-title">
                            {{this.$parent.$parent.lang.VACANCIES_2_TITLE}}
                        </div>
                        <div class="reason-item-text color-white-text">
                            {{this.$parent.$parent.lang.VACANCIES_2_TEXT}}
                        </div>
                    </div>
                </div>
                <div v-if="this.$parent.$parent.lang.VACANCIES_3_TITLE !== ''" class="reason-item">
                    <div class="reason-icon">
                        <img style="width: 3rem" src="../assets/IconsReasonOrder/icon_5.png" alt="">

                    </div>
                    <div class="reason-item-block-text">
                        <div class="reason-item-title color-white-title">
                            {{this.$parent.$parent.lang.VACANCIES_3_TITLE}}
                        </div>
                        <div class="reason-item-text color-white-text">
                            {{this.$parent.$parent.lang.VACANCIES_3_TEXT}}
                        </div>
                    </div>
                </div>
                <div v-if="this.$parent.$parent.lang.VACANCIES_4_TITLE !== ''" class="reason-item">
                    <div class="reason-icon">
                        <img style="width: 3rem" src="../assets/IconsVacancies/icon_1.png" alt="">

                    </div>
                    <div class="reason-item-block-text">
                        <div class="reason-item-title color-white-title">
                            {{this.$parent.$parent.lang.VACANCIES_4_TITLE}}
                        </div>
                        <div class="reason-item-text color-white-text">
                            {{this.$parent.$parent.lang.VACANCIES_4_TEXT}}
                        </div>
                    </div>
                </div>
                <div v-if="this.$parent.$parent.lang.VACANCIES_5_TITLE !== ''" class="reason-item">
                    <div class="reason-icon">
                        <img style="width: 3rem" src="../assets/IconsVacancies/icon_2.png" alt="">

                    </div>
                    <div class="reason-item-block-text">
                        <div class="reason-item-title color-white-title">
                            {{this.$parent.$parent.lang.VACANCIES_5_TITLE}}
                        </div>
                        <div class="reason-item-text color-white-text">
                            {{this.$parent.$parent.lang.VACANCIES_5_TEXT}}
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</template>

<script>
    export default {
        name: "Page9"
    }
</script>

<style scoped>
    .page9 {
        background-color: #071627;
        margin-top: 10rem;
    }

    .vacancies {

        top: 8rem;
    }
    .color-white-title {
        color: #fff;
    }
    .color-white-text {
        color: rgba(255,255,255,.7);
    }
</style>