<template>
    <div class="page">


        <div class="main-content">
            <div class="info-block">
                <div class="info-block-mark">{{this.$parent.$parent.lang.OWN_MAKE}}</div>
                <div class="info-block-title">{{this.$parent.$parent.lang.UNIQ_DESIGN}}</div>
                <div class="info-block-text">{{this.$parent.$parent.lang.FIRST_PAGE_DESC}}</div>
                <div @click="openLinkGoogleForms" class="info-block-button">{{this.$parent.$parent.lang.ORDER_OWN_MEDAL}}</div>
            </div>
            <img class="img-medal" src="../assets/page1_medal.png" alt=""/>

            <iframe class="youtube-video" :src="this.youtube" frameborder="0" allow="  encrypted-media; " allowfullscreen></iframe>

        </div>
        <div class="page1-container">
            <div class="main-content up-main-content">
                <div class="scroll-to-down">
                    <span>{{this.$parent.$parent.lang.BETTER_BOTTOM}}</span>
                </div>
            </div>

        </div>



    </div>
</template>

<script>

    import axios from "axios";

    export default {
        data() {
            return {
                youtube: ""
            }
        },
        name: "Page1",
        methods: {
            openLinkGoogleForms() {
                window.open(this.$parent.$parent.lang.GOOGLE_FORM_LINK, "_blank");
            }
        },
        mounted() {
            axios.get('php/get_youtube.php').then(response => {
                this.youtube = response.data;
            })

        }
    }
</script>

<style scoped>
    .page1-container {
        top: 0;
        position: absolute;
        background-color: #071627;
        z-index: 20;
        width: 100%;
        height: 40rem;
    }

    .img-medal {
        position: absolute;
        left: 0;
        top: 30rem;
        margin-right: 12rem;
        display: block;
        width: 8rem;
        z-index: 23;
    }


    .info-block {
        position: relative;
        z-index: 22;
        width: 34rem;
        height: 21.9rem;
        top: 10.35rem;
        background-repeat: no-repeat;
        background-size: 1.65rem;
        background-position-y: 0.6rem;
    }


    .scroll-to-down {
        position: absolute;
        width: 11rem;
        left: 0.3rem;
        height: 5.1rem;
        bottom: -6.1rem;
        background-image: url("../assets/scroll_to_bottom.png");
        background-size: 1.3rem;
        background-repeat: no-repeat;

    }
    .scroll-to-down span {
        position: absolute;
        bottom: 3.5rem;
        font-style: italic;
        color: rgba(255,255,255,.25);
        margin-left: 2.25rem;
    }

    .up-main-content {
        top: 36.5rem;
    }

    .small-logo-icon {
        position: absolute;
        z-index: 30;
        right: 15.5rem;
        width: 6.9rem;
        bottom: -14rem;
    }

    .youtube-video {
        border: 0.1rem solid rgba(255,255,255,.25);
        padding: 0.45rem;
        width: 39rem;
        height: 23rem;
        position: absolute;
        z-index: 998;
        right: 16rem;
        top: 10.3rem;
    }
</style>

<style>
    .info-block-title {
        font-weight: 900;
        font-size: 2.9rem;
        color: #fff;
    }

    .info-block-text {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1.25rem;
        color: rgba(255,255,255,.7);
        font-weight: 300;
        margin-top: 1rem;
    }

    .info-block-button:hover {
        background: #1463DB;
    }
    .info-block-button {
        display: flex;
        width: 14.9rem;
        height: 3.6rem;
        background: linear-gradient(#1463DB,#1C2F91);
        border-radius: 1.8rem;
        color: #fff;
        font-weight: bold;
        margin-top: 1.55rem;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .info-block-mark {
        font-style: italic;
        color: rgba(255,255,255,.7);
    }
    .info-block-mark-black {
        color: rgba(12,26,42,.7);
    }
    .info-block-title-black {
        color: rgb(12,26,42);
    }
    .info-block-text-black {
        color: rgba(12,26,42,.70);



    }
</style>