<template>
    <div ref="page6Size" class="page page6">
        <div ref="fillBlockBig" class="big-fill-block">
            <div ref="mainContentProc" class="main-content page6-content">
                <div class="info-block-title">{{this.$parent.$parent.lang.PROCESS_PRODUCTION}}</div>
                <div class="info-block-text text-process">{{this.$parent.$parent.lang.PROCESS_PRODUCTION_DESC}}</div>
                <div ref="listProc" class="list-process">
                    <div v-bind:key="index" v-for="(proc,index) in process" class="block-process">
                        <div class="block-process-text">
                            <span class="block-process-num">{{proc.num}}</span>
                            <div class="block-process-desc">
                                {{main.$parent.$parent.lang['PROCESS_'+proc.num]}}
                            </div>

                        </div>
                        <img class="block-process-gif" :data-gifffer="'/img/process_gif/'+proc.num+'.gif'" alt="">
                        <div v-if="proc.classArrow !== ''" :class="proc.classArrow">
                            <img class="process-arrow-img" src="../assets/arrow_process.png" alt="">
                        </div>

                    </div>
                </div>
                <img class="medal-page6" src="../assets/page2_medal.png" alt="">

            </div>

            <div class="info-block-page6">
                <div class="info-block-mark">
                    {{this.$parent.$parent.lang.PAGE_4_MARK}}
                </div>
                <div class="info-block-title">{{this.$parent.$parent.lang.PAGE_4_TITLE}}</div>
                <div class="info-block-text">{{this.$parent.$parent.lang.PAGE_4_TEXT}}</div>
                <div @click="openLinkGoogleForms" class="info-block-button">{{this.$parent.$parent.lang.PAGE_5_BTN}}</div>

            </div>
            <div class="point-linear"></div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Page6",
        data() {
            return{
                main:null,
                process:[
                    {
                        num:1,
                        classArrow:"process-arrow-right",
                        img:"/img/ProcessImages/proc1.png"
                    },
                    {
                        num:2,
                        classArrow:"process-arrow-bottom",
                        img:"/img/ProcessImages/proc1.png"
                    },
                    {
                        num:4,
                        classArrow:"process-arrow-bottom",
                        img:"/img/ProcessImages/proc1.png"
                    },
                    {
                        num:3,
                        classArrow:"process-arrow-left",
                        img:"/img/ProcessImages/proc1.png"
                    },

                    {
                        num:5,
                        classArrow:"process-arrow-right",
                        img:"/img/ProcessImages/proc1.png"
                    },
                    {
                        num:6,
                        classArrow:"process-arrow-bottom",
                        img:"/img/ProcessImages/proc1.png"
                    },
                    {
                        num:8,
                        classArrow:"process-arrow-bottom-invisible",
                        img:"/img/ProcessImages/proc1.png"
                    },
                    {
                        num:7,
                        classArrow:"process-arrow-left",
                        img:"/img/ProcessImages/proc1.png"
                    }


                ]
            }
        },
        methods: {
            openLinkGoogleForms() {
                window.open(this.$parent.$parent.lang.GOOGLE_FORM_LINK, "_blank");
            }
        },
        mounted() {
            this.main = this
            setTimeout(() => {
                var bigFillBlock = this.$refs.fillBlockBig
                var listProc = this.$refs.listProc
                var widthListProc = listProc.clientWidth
                var heightListProc = listProc.clientHeight
                var widthMainProc = this.$refs.mainContentProc.clientWidth
                var page6Content = this.$refs.page6Size

                if(widthMainProc !== widthListProc) {
                    var scale = widthMainProc / widthListProc
                    var offset = (heightListProc * scale - heightListProc) /2
                    var marginTop = offset + (1.5 * 20)

                    listProc.style.cssText = "transform: scale("+scale+","+scale+"); margin-top: "+ marginTop+ "px; margin-bottom: "+marginTop+"px"
                    bigFillBlock.style.cssText = "height: "+(bigFillBlock.clientHeight + (offset*2 ))+"px"
                    page6Content.style.cssText = "height: "+(page6Content.clientHeight + (offset*2 ))+"px"
                }
            }, 10)
        }
    }
</script>

<style scoped>
    .page6 {
        height: 146.85rem;
        z-index: 1;
    }
    .point-linear {
        position: absolute;
        width: 100%;
        height: 4.8rem;
        background-color: #F8F9FA;
        border-bottom: #C0C3C8 2px solid;
        border-top: #C0C3C8 1px solid;
        bottom: -3rem;
        background-image: url("../assets/linear.png");
        background-repeat: no-repeat;
        background-size: 77.25rem;
        background-position-x: center;
    }
    .big-fill-block {
        position: absolute;
        width: 100%;
        height: 146.85rem;
        background-color: #071627;
        display: flex;
        justify-content: center;
    }

    .page6-content {
        top: 8rem;
    }
    .text-process {
        margin-top: 2rem;
    }

    .list-process {
        width: 80rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1.5rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }


    .block-process {
        position: relative;
        width: 39.5rem;
        height: 22.85rem;
        margin-bottom: 1.1rem;
        cursor: pointer;
        box-sizing: border-box;
        border: 1px #45515D solid;

        padding: 0.3rem;
    }

    .block-process:hover .process-arrow-img {
        opacity: 1;
        width: 2rem;
        transform: scaleX(1.6);
    }
    .block-process:hover .block-process-gif {
        display: block;
    }
    .block-process:hover .block-process-img {
        display: none;
    }
    .block-process:hover .block-process-text .block-process-desc{
        text-align: left;
        margin-left: 3.8rem;
        margin-bottom: 3.5rem;
    }
    .block-process:hover .block-process-text .block-process-num {
        opacity: 0;
    }
    .block-process:hover .block-process-text {
        background-color: rgba(7,22,39,.0);
        justify-content: flex-end;
        align-items: end;
    }
    .block-process-text {
        position: absolute;
        width: 99.4%;
        height: 99%;
        background-color: rgba(7,22,39,.7);
        z-index: 20;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: background-color .4s;
        left: 0;
        top: 0;
    }

    .block-process-num {
        font-weight: 900;
        color: rgba(255,255,255,.25);
        font-size: 3rem;
    }

    .block-process-desc {
        color: #fff;
        width: 28rem;
        font-style: italic;
        text-align: center;
        margin-top: 0.5rem;
    }

    .process-arrow-right {
        position: absolute;
        width: 1.1rem;
        height: 0.05rem;
        left: 100%;
        margin-left: 0.1rem;
        background-color: rgba(255,255,255,0.25);
        bottom: 50%;
    }
    .process-arrow-img {
        position: absolute;
        opacity: 0;
        width: 2rem;
        transition: all .3s;
        z-index: 5100;
        top: -1.2rem;
        left: 0.2rem;
        transform: scaleY(0);
    }

    .block-process-img {
        width: 100%;
        height: 99.99%;
    }
    .block-process-gif {
        width: 100%;
        height: 99.99%;
        display: none;
    }

    .process-arrow-bottom-invisible {
        position: absolute;
        width: 1.1rem;
        height: 0.1rem;
        left: 50%;
        background-color: rgba(255,255,255,0.0);
        bottom: -0.55rem;
        transform: rotate(90deg);
        z-index: 5000;
    }
    .process-arrow-bottom {
        position: absolute;
        width: 1.05rem;
        height: 0.05rem;
        left: 50%;
        background-color: rgba(255,255,255,0.25);
        bottom: -0.65rem;
        transform: rotate(90deg);
        z-index: 5000;
    }

    .process-arrow-left {
        position: absolute;
        width: 1rem;
        height: 0.05rem;
        left: -1.05rem;
        z-index: 5000;

        background-color: rgba(255,255,255,0.25);
        bottom: 50%;
        transform: rotate(180deg);
    }

    .info-block-page6 {
        position: absolute;
        width: 36.8rem;
        height: 18.9rem;
        padding-left: 8.15rem;
        bottom: 7rem;
        right: 12rem;
        background-image: url("../assets/line_page6.png");
        background-repeat: no-repeat;
        background-size: 7.3rem;
        background-position-y: 0.6rem;
    }

    .medal-page6 {
        display: block;
        position: absolute;
        width: 32rem;
        bottom: -2rem;
        z-index: 2;
        right: 46.5rem;
    }
</style>