<template>
    <div class="page page4-container">
        <img src="../assets/medal_page4.png" alt="" class="medal-page4">
        <div class="info-block-page4">
            <div class="info-block-mark">Фирменный дизайн</div>
            <div class="info-block-title">Значок «Фирменный» из золота</div>
            <div class="info-block-text">Подобный заказ от 40000 руб. за 1 шт.</div>
            <div class="info-block-button">Подробнее о значке</div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Page4"
    }
</script>

<style scoped>
    .medal-page4 {
        position: absolute;
        display: block;
        right: 0;
        bottom: 0;
        width: 45.45rem;
    }

    .info-block-page4 {
        position: absolute;
        width: 40.1rem;
        height: 18.5rem;
        left: 10.55rem;
        top: 16rem;
        padding-left: 9.6rem;
        background-image: url("../assets/line_info_block_3.png");
        background-repeat: no-repeat;
        background-size: 8.85rem;
        background-position-y: 0.7rem;
    }
</style>