<template>
    <div id="page5" class="page">
        <div class="main-content page5-content">
            <div class="info-block-title info-block-title-black">{{this.$parent.lang.MORE_WORKS}}</div>
            <div class="sub-title-page5">{{this.$parent.lang.COUNT_ORDER}}</div>
            <div ref="medalList" class="medals-list">
                <div v-bind:key="index" v-for="(medal,index) in curList"
                     @click="openList(index)"
                     class="medal-item">
                    <div class="medal-item-img-container">

                    <img v-bind:src="'img/MedalList/'+medal.medal_num" alt="" class="medal-item-img">
                    </div>

                    <div class="medal-item-text">{{medal.desc}}</div>

                    <div class="more-medal-info">{{main.$parent.lang.MORE_INFO_MEDAL}}</div>
                </div>

            </div>

            <div class="arrows">
                <img v-if="this.curPos <= 0" @click="moveLeft" src="../assets/arrow_none.png" alt="">
                <img v-if="this.curPos > 0" @click="moveLeft" src="../assets/arrow_compl.png" alt="">
                <img v-if="this.curPos + 5 < this.list.length" class="right-arrow" @click="moveRight"
                     src="../assets/arrow_compl.png" alt="">
                <img v-if="this.curPos + 5 >= this.list.length" class="right-arrow" @click="moveRight"
                     src="../assets/arrow_none.png" alt="">
            </div>
        </div>
    </div>
</template>

<script>
    import Velocity from 'velocity-animate'
    import axios from "axios";

    export default {


        data() {
            return {
                posList: 0,
                isMoveList: false,
                list: null,
                curList: [],
                curPos: 0,
                main: null
            }
        },
        name: "Page5",
        mounted() {
            var language = this.$parent.language;

            axios.get('/medal_list_'+language+'.json').then(response => {
                this.list = response.data;
                this.updateState();
            })
            this.main = this

        },
        computed: {
            lig: function () {
                return console;
            }
        },
        methods: {

            openList(num) {
              this.$parent.openListMedals(this.curPos +num)
            },
            hoverItem(medal) {
                medal.isShowOverText = true
            },
            hoverEnd(medal) {
                medal.isShowOverText = false
            },
            completeMoveList() {
                this.isMoveList = false;

            },
            _leftMv() {

                this.curPos -= 5;

                if (this.curPos < 0) this.curPos = 0;

                this.updateState()
            },
            updateState() {
                this.curList = []
                for (var i = this.curPos; i < this.curPos + 5; i++) {
                    if (i < this.list.length) {
                        this.curList.push(this.list[i])
                    }
                }
            },
            _rightMv() {

                // if (this.curPos >= this.list.length) this.curPos = this.list.length;
                this.curPos += 5;

                this.updateState()

            },
            moveLeft() {
                if (this.curPos <= 0 || this.isMoveList) return;

                this.isMoveList = true;
                var el = this.$refs.medalList;

                var main = this;
                Velocity(el, {opacity: '0'}, {
                    duration: 400, complete: function () {
                        main._leftMv()
                        Velocity(el, {opacity: '1'}, {duration: 400, complete: main.completeMoveList})
                    }
                })
            },
            moveRight() {
                if (this.curPos + 5 >= this.list.length || this.isMoveList) return;
                this.isMoveList = true
                var el = this.$refs.medalList;

                var main = this;
                Velocity(el, {opacity: '0'}, {
                    duration: 400, complete: function () {
                        main._rightMv()
                        Velocity(el, {opacity: '1'}, {duration: 400, complete: main.completeMoveList})
                    }
                })


            }
        }
    }
</script>

<style scoped>
    .page5-content {
        top: 10rem;
    }

    .sub-title-page5 {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1.35rem;
        font-weight: 300;
        color: rgba(19, 40, 64, .7);
        margin-top: 1.35rem;
    }

    .medals-list {

        display: flex;
        margin-top: 4rem;
        align-items: center;
        justify-content: normal;
        margin-right: 16rem;
    }

    .medal-item:hover .medal-item-text {
        display: none;
    }

    .medal-item:hover .more-medal-info {
        display: block;
    }

    .medal-item:hover {
        cursor: pointer;
        border: 1px solid #1463DB;
    }

    .medal-item:last-child {
        margin-right: 0;
    }

    .medal-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 15.4rem;
        height: 20rem;
        padding-bottom: 2rem;
        margin-right: 2rem;
        box-sizing: border-box;
        border: 1px solid #fff;


    }

    .medal-item-img {
        width: 100%;
        height: auto;
        position: relative;
        top: 0;
    }

    .medal-item-img-container {
        position: relative;
        margin-top: 0.4rem;
        width: 13.5rem;
        height: 13.5rem;
    }

    .medal-item-text {
        margin-top: 1.55rem;
        width: 8.2rem;
        height: 2.5rem;
        text-align: center;
        font-weight: bold;
        color: #1F2B39;
    }


    .more-medal-info {
        text-decoration: none;
        margin-top: 1.55rem;
        height: 2.5rem;
        display: none;
        font-weight: bold;
        color: #1463DB;
    }

    .arrows img {
        width: 2rem;
        cursor: pointer;
    }

    .right-arrow {
        transform: rotate(180deg);
        margin-left: 1.4rem;
    }

    .arrows {
        margin-top: 5rem;
    }


</style>