<template>
    <div class="page">
        <div class="main-content review-block prices-top-offset">
            <div class="info-block-title info-block-title-black page82-margin">{{this.$parent.$parent.lang.PRICES_TITLE}}</div>
            <div class="info-block-text info-block-text-black">{{this.$parent.$parent.lang.PRICES_TEXT}}</div>

            <div class="table-container">

                <table class="prices-table">
                    <tr v-bind:key="index" v-for="(table,index) in dataTable">
                        <td v-bind:key="indexValue" v-for="(tableValue,indexValue) in table" :class="{'bold-text': tableValue.startsWith('|') || tableValue.startsWith('$')}">
                            {{tableValue.startsWith("$") ? main.$parent.$parent.lang[tableValue.substr(1)] :
                            (tableValue.startsWith("$") || tableValue.startsWith("|") ? tableValue.substr(1) : tableValue)}}
                        </td>
                    </tr>
                </table>

            </div>
            <div class="get-price-btn">
                <div @click="openLinkGoogleForms" class="info-block-button price-btn">{{this.$parent.$parent.lang.PRICES_BTN}}</div>
                <img src="../assets/left_arrow.png" alt="">
                <div class="text-price-btn">{{this.$parent.$parent.lang.CALCULATE_PRICE}}</div>
            </div>
        </div>

    </div>
</template>

<script>
    import axios from "axios";

    export default {
        name: "Page8.2",
        data() {
          return {
              dataTable: [],
              main: null
          }
        },
        methods: {
            openLinkGoogleForms() {
                window.open(this.$parent.$parent.lang.GOOGLE_FORM_LINK, "_blank");
            }
        },
        mounted() {
            this.main = this
            axios.get('/table_prices.json').then(response => {
                var tmpData = response.data

                for(var i = 0;i < tmpData.length;i++) {
                    this.dataTable.push(tmpData[i].split(';'))
                }
            })
        }

    }
</script>

<style scoped>
    .price-btn {
        width: 27.05rem;
        margin-top: 0;
    }
    .prices-table {
        margin-top: 3.85rem;
        width: 100%;
        font-size: 0.95rem;
        border-spacing: 0;
        border-left: 0.05rem rgba(7,22,39,.5) solid;
        border-top: 0.05rem rgba(7,22,39,.5) solid;
        color: #1F2B39;

    }
    .prices-table td {
        border-right: 0.05rem rgba(7,22,39,.5) solid;
        border-bottom: 0.05rem rgba(7,22,39,.5) solid;

        text-align: center;
        height: 3.35rem;
        margin: 0;
    }

    .bold-text {
        color: #071627;
        font-weight: bold;

    }
    .get-price-btn img{
        width: 5.5rem;
        height: 0.95rem;
        display: block;
    }

    .get-price-btn {
        display: flex;
        margin-top: 3.9rem;
        width: 56rem;
        align-items: center;
        justify-content: space-between;

    }

    .text-price-btn {
        font-size: 0.95rem;
        width: 20.5rem;
        color: #0C1A2A;
        font-style: italic;
    }

    .prices-top-offset {
        margin-top: 15rem;
    }

    .table-container {
        margin-right: 16rem;
    }
</style>