<template>
    <div class="page company-content">
        <div class="main-content">
            <div class="info-block-title info-block-title-black">{{this.$parent.lang.COMPANY_OUR_FRIENDS}}</div>
            <div class="info-block-text info-block-text-black">{{this.$parent.lang.MORE_10_YEARS_WORK}}</div>

            <div class="block-company" style="margin-top: 3.85rem">
                <img src="../assets/company/Gustavsberg_Logo.png" alt="" style="width: 7.25rem">
                <img src="../assets/company/logo-promsvyazbank.png" alt="" style="width: 11.8rem">
                <img src="../assets/company/iRU_logo_-1.png" alt="" style="width: 5.7rem">
                <img src="../assets/company/Delo_Ports_logo.png" alt="" style="width: 14.15rem">
                <img src="../assets/company/norilskavia7826.png" alt="" style="width: 8.1rem">
            </div>
           <!-- <div class="block-company">
                <img src="../assets/company/logo-promsvyazbank.png" alt="" style="width: 11.8rem">
                <img src="../assets/company/iRU_logo_-1.png" alt="" style="width: 5.7rem">
                <img src="../assets/company/Delo_Ports_logo.png" alt="" style="width: 14.55rem">
                <img src="../assets/company/logo-promsvyazbank.png" alt="" style="width: 11.8rem">
                <img src="../assets/company/Delo_Ports_logo.png" alt="" style="width: 14.55rem">
            </div>-->
        </div>

    </div>
</template>

<script>
    export default {
        name: "Page8.1"
    }
</script>

<style scoped>
    .block-company {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-right: 16rem;
    }

    .company-content {
        top: 7rem;
        height: 70vh;
    }
</style>