<template>
    <span ref="component">
        <slot/>
    </span>
</template>

<script>
    export default {
        name: 'scroll-to-component',

        methods: {
            scrollTo () {
                this.$refs.component.scrollIntoView({
                    required: false,
                    default: null,
                    type: Boolean,
                    behavior: "smooth"
                },);
            },
        },
    };
</script>