<template>
    <div class="social">
        <div class="round-social" v-if="!isHover && !isOpen"></div>
        <div @mouseenter="isHover = true" @mouseleave="isHover = false"
             @click="openAllSocialButtons"
             v-click-outside="clickOutside"
             :style="{'background-color': isHover ? '#1463DB' : '#061220'}" class="social-btn">
            <img style="width: 1.8rem" v-if="isHover && !isOpen" src="../assets/social_icon.png" alt="">
            <img style="width: 1.8rem" v-if="!isHover && !isOpen" src="../assets/social_icon_first.png" alt="">
            <img style="width: 0.9rem" v-if="isOpen" src="../assets/arrow_social.png" alt="">


        </div>
        <transition v-bind:key="index" v-for="(ic,index) in icons" @before-enter="beforeEnter" @enter="enterAnim"
                    @leave="leaveAnim" v-bind:css="false">
            <div @click="openLink(ic.link)"
                 @mouseenter="widthChange"
                 @mouseleave="widthChangeLeave"
                 v-if="isOpen" class="small-social-btn"
                 :id='index +1'>
                <div :class="'small-social-btn-sub '+ ic.isChangeWidth">
                    <transition
                            @before-enter="beforeEnter"
                            @enter="enterAnimPhone"
                            @leave="leaveAnimPhone">
                        <div v-if="ic.isChangeWidth === 'changeWidth' && isShowPhone" class="text-phone">
                            <img src="/img/SocialIcons/whats.png" alt="">
                            <span>{{getFormatPhone()}}</span>
                        </div>
                        <div v-if="ic.isChangeWidth === 'bitcoin' && isShowBitcoin" class="text-phone">
                            <span>{{ic.name}}</span>
                        </div>
                    </transition>

                </div>
                <div class="small-social-img"
                     :style="{'background-image': 'url(/img/SocialIcons/'+ic.icon+')','background-size':ic.width+'rem'}"
                ></div>
            </div>
        </transition>

    </div>


</template>

<script>
    import Velocity from 'velocity-animate'
    import ClickOutside from 'vue-click-outside'
    import axios from "axios";

    export default {
        name: "SocialButton",
        data() {
            return {
                isOpen: false,
                isHover: false,
                isShowPhone:false,
                isShowBitcoin:false,
                icons: []
            }
        },
        methods: {
            getFormatPhone() {
                var tel = this.icons[0].link.substr(4)
                return '+'+tel.substr(0,1)+' ('+tel.substr(1,3)+') '+tel.substr(4,3)+'-'+tel.substr(7,2)+'-'+tel.substr(9,2)
            },
            clickOutside() {
                if(!this.isHover) {
                    this.isOpen = false
                }
            },
            openAllSocialButtons() {
                this.isOpen = !this.isOpen;
            },
            beforeEnter(el) {
                el.style.opacity = 0;
            },
            enterAnimPhone(el,done) {
                Velocity(el, {opacity: 1}, {duration: 600, complete: done})
                Velocity(el.querySelector('span'), {opacity: 1}, {duration: 400, complete: done})
                Velocity(el.querySelector('img'), {opacity: 1}, {duration: 400, complete: done})


            },
            leaveAnimPhone(el) {
                el.style.opacity = 0;
            },
            enterAnim(el, done) {
                const _y = 2 + (4 * el.id);
                Velocity(el, {bottom: _y + 'rem', opacity: 1}, {duration: 300, complete: done})
            },
            leaveAnim(el, done) {
                Velocity(el, {bottom: 0, opacity: 0}, {duration: 300, complete: done})
            },
            openLink(link) {
                if(link !== "")
                window.open(link, '_blank')
            },
            widthChange(event) {
                if (event.target.style.opacity == 1) {
                    var firstElementChild = event.target.firstElementChild;
                    if (firstElementChild.classList.length > 1) {
                        if(firstElementChild.classList[1] === 'bitcoin')
                            this.isShowBitcoin = true;

                        if(firstElementChild.classList[1] === 'changeWidth')
                            this.isShowPhone = true;
                        Velocity(firstElementChild, {width: '15rem', right: '0rem'}, {duration: 200})

                    }
                }


            },
            widthChangeLeave(event) {
                var firstElementChild = event.target.firstElementChild;
                if (firstElementChild.classList.length > 1) {
                    this.isShowPhone = false;
                    this.isShowBitcoin = false;
                    Velocity(firstElementChild, {width: '3.1rem', right: '0'}, {duration: 200})
                }
            }
        },
        directives: {
            ClickOutside
        },
        mounted() {
            axios.get( '/social_list.json').then(response => {
                this.icons = response.data;
            })

        },
    }
</script>

<style scoped>
    .social-btn {

        width: 4.4rem;
        height: 4.4rem;
        position: relative;
        z-index: 999;
        border-radius: 2.2rem;
        cursor: pointer;
        transition: background-color .3s;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .small-social-btn {
        position: absolute;
        z-index: 1000;
        width: 3.1rem;
        height: 3.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

    }

    .small-social-btn-sub {
        position: absolute;
        z-index: 1001;
        width: 3.1rem;
        height: 3.1rem;
        border-radius: 1.55rem;
        background-color: #fff;
        box-shadow: 3px 3px 7px -3px rgba(0,0,0,0.51);
    }

    .small-social-btn:hover .small-social-btn-sub{
        background-color: #0094ff;
    }
    .small-social-img {
        position: absolute;
        z-index: 1002;
        width: 3.1rem;
        height: 3.1rem;
        background-repeat: no-repeat;
        background-position: center;
    }


    .social {
        position: fixed;
        width: 4.4rem;
        height: 4.4rem;
        z-index: 999;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 8.3rem;
        bottom: 6rem;
    }

    .text-phone img {
        width: 1.15rem;
    }
    .text-phone span {
        opacity: 0;
        margin-left: 0.7rem;
    }
    .text-phone img {
        opacity: 0;
    }
    .text-phone {
        opacity: 0;
        position: relative;
        width: 100%;
        height: 100%;
        padding-left: 1.5rem;
        display: flex;
        align-items: center;
        font-size: 0.95rem;
        font-weight: 500;
        color: #071627;
    }

    .round-social {
        position: absolute;
        width: 4.8rem;
        height: 4.8rem;
        border-radius: 2.4rem;

        border: 1px solid #061220;
    }
</style>