<template>
    <div ref="mainTopMenu" class="topMenu">
        <div class="main-content container-menu">
           <!-- <div class="title-top-menu">{{app.lang.TITLE}}</div>-->
            <div class="title-top-menu"><img src="../assets/logo_top_panel.png" :alt="app.lang.TITLE"></div>

           <!-- <div class="language-change">
                <div class="inner-lang-items">
                <div v-bind:key="index" v-for="(langItem,index) in listLanguages" @click="setLang(langItem.key)" class="item-lang">{{langItem.value}}</div>
                </div>
                <div class="view-item-lang">
                    <img class="img-open-lang" src="../assets/arrow_change_lang.png" alt="">
                    <span>{{listLanguages[0].value}}</span>
                </div>
            </div>-->

            <div class="language-change">
                <div v-bind:key="index" v-for="(langItem,index) in this.languageTypes" @click="setLang(langItem.key)"
                     class="item-lang"
                     v-bind:class="{'transparent-lang-item': langItem.key !== app.language}">
                    <img :src="'img/icon_lang/'+langItem.key+'.png'" alt="">
                </div>


            </div>
            <div ref="lel" @click="clickToScroll(link.link)" v-bind:key="index" class="item-menu"
                 v-for="(link,index) in linkList" v-bind:class="{ 'item-menu-hover-static': link.isHover }">
                    {{app.lang[link.name]}}
            </div>

        </div>

    </div>
</template>

<script>
    import Velocity from 'velocity-animate'

    export default {

        name: "TopMenu",
        data() {
            return {
                heightWindow:0,
                positions: [],
                scrollPos: 0,
                isHide: false,
                isMove: false,
                languageTypes: [
                    {
                        key:'ru',
                        value:"RU"
                    },
                    {
                        key:'en',
                        value:"EN"
                    },
                    {
                        key:'zh',
                        value:"中文"
                    }
                ],
                linkList: [
                    {
                        name: 'ITEM_MENU_CONTACT',
                        link: "contacts",
                        isHover: false
                    },
                    {
                        name: "ITEM_MENU_JOB",
                        link: "vacancies",
                        isHover: false

                    },
                    {
                        name: "ITEM_MENU_PRICE",
                        link: "prices",
                        isHover: false
                    },
                    {
                        name: "ITEM_MENU_REVIEWS",
                        link: "review",
                        isHover: false
                    },
                    {
                        name: "ITEM_MENU_WHY_WE",
                        link: "why_we",
                        isHover: false
                    },
                    {
                        name: "ITEM_MENU_PROCESS",
                        link: "process",
                        isHover: false
                    },
                    {
                        name: "ITEM_MENU_WORKS",
                        link: "our_works",
                        isHover: false
                    },
                    {
                        name: "ITEM_MENU_SERVICE",
                        link: "service",
                        isHover: false
                    }
                ]
            }
        },

        methods: {
            setLang(lang) {
                this.$parent.deleteCookie("lang")
                this.$parent.setCookie("lang",lang,{
                    expires: 42000
                })

                document.location.reload();
            },
            clickToScroll(link) {
                this.app.$refs[link].scrollTo()
            },
            handleScroll() {
                for (var i = 0;i < this.linkList.length;i++) {
                    this.linkList[i].isHover = false;
                }
                for (var j = 0;j < this.positions.length;j++) {
                    if( this.positions[j] > window.scrollY) {

                        this.linkList[this.linkList.length-1 - j].isHover = true;
                        break;
                    }
                }


                var main = this
                    var moveEl = this.$refs.mainTopMenu;

                    if(window.scrollY > this.scrollPos) {

                        if(!this.isMove && !this.isHide) {
                            this.isMove = true;

                            Velocity(moveEl, {top: '-4.25rem'}, {
                                duration: 200, complete: function () {
                                    main.isHide = true;
                                    main.isMove = false;
                                }
                            })
                        }
                    }
                    if(window.scrollY < this.scrollPos-20 && this.isHide) {
                        if(!this.isMove) {
                            this.isMove = true;

                            Velocity(moveEl, {top: '0rem'}, {
                                duration: 200, complete: function () {
                                    main.isHide = false;
                                    main.isMove = false;
                                }
                            })
                        }
                    }

                        this.scrollPos = window.scrollY

            }
        },
        mounted() {
            this.heightWindow = this.$parent.$refs.all_pages.clientHeight / window.outerHeight;

            /*setTimeout(() => {
                var language = this.$parent.language;


                for (var i = 0;i < this.languageTypes.length; i++) {
                    if (this.languageTypes[i].key === language) {
                        this.listLanguages.unshift(this.languageTypes[i])
                    } else {
                        this.listLanguages.push(this.languageTypes[i])
                    }
                }
            },10)*/

            this.scrollPos = window.scrollY

            var _pos = this.positions;
            this.$parent.$refs.all_pages.querySelectorAll('.pos').forEach(function (child) {
                _pos.push(child.offsetTop+child.clientHeight)
            })
            window.addEventListener('scroll', this.handleScroll)
        },
        computed: {
            lig: function () {
                return console
            }
        },
        props: ["app"]
    }
</script>

<style scoped>

    .transparent-lang-item {
        opacity: 0.5;
    }
    .topMenu {
        display: flex;
        align-items: flex-end;
        width: 100%;
        height: 4.25rem;
        position: fixed;
        background-color: #071627;
        z-index: 999999;
    }

    .title-top-menu img {
        width: 17rem;
    }
    .title-top-menu {
        color: #fff;
        font-weight: bold;
        font-size: 1rem;
        float: left;
    }

    .item-menu-hover-static {
        color: #B8BDC4 !important;

    }

    .item-menu:hover {
        color: #B8BDC4;
    }

    .item-menu {
        margin-top: 0.6rem;

        color: #4C5B6A;
        cursor: pointer;
        font-weight: normal;
        margin-left: 2.1rem;
        transition: color .3s;
        float: right;
    }


    .container-menu {
        margin-top: auto;
        margin-bottom: auto;

    }

    .language-change:hover .inner-lang-items{
        display: block;
        opacity: 1;
    }
    .language-change:hover .view-item-lang{
        opacity: 0;
    }


    .language-change {
        position: relative;
        box-sizing: border-box;
        float: right;
        width: 5.85rem;
        margin-left: 3.4rem;
        margin-top: 0.7rem;
        display: flex;
        justify-content: space-between;
    }

    .img-open-lang {
        position: absolute;
        top: 0.5rem;
        right:0.4rem;
        width: 0.8rem;
    }

    .item-lang:hover {
        color: #1463DB;
        opacity: 1;
    }

    .item-lang img {
        width: 1.35rem;
    }
    .item-lang {
        cursor: pointer;
        transition: all .3s;
        width: 1.35rem;
    }
    .view-item-lang {
        margin-left: 1rem;
        cursor: pointer;

    }

    .inner-lang-items {

        transition: all .2s;
        width: 100%;
        text-align: center;
        position: absolute;
        opacity: 0;

        display: none;
        background-color: #E7EAEF;
        border-radius: 0.55rem;
        color: #061220;
        cursor: pointer;
        padding-bottom: 0.5rem;
    }
</style>