<h1 class="title">Вход в админ панель</h1>
<div style="display: none" id="empty-alert" class="alert alert-danger" role="alert">
    Пароль и логин не должны быть пустыми
</div>
<form class="enter-login">
    <div class="form-group">
        <label for="exampleInputEmail1">Логин</label>
        <input type="login" class="form-control" id="login" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Пароль</label>
        <input type="password" class="form-control" id="pass">
    </div>
    <button onclick="checkLogin()" type="button" class="btn btn-primary">Вход</button>
</form>