<template>
    <div>
        <TopMenu :app="this"/>
        <SocialButton ref="socialContact"/>
        <ListMedals v-if="isShowListMedals"/>
        <div ref="all_pages" class="pages">
            <ScrollTo ref="service">
                <Page1 class="pos"/>
            </ScrollTo>

            <ScrollTo ref="our_works">
                <Page3 class="pos"/>
            </ScrollTo>


            <Page2/>

            <Page5/>
            <ScrollTo ref="process">
                <Page6 class="pos"/>
            </ScrollTo>
            <ScrollTo ref="why_we">
                <Page7 class="pos"/>

            </ScrollTo>
            <Page81/>
            <ScrollTo ref="review">
                <Page8 class="pos"/>
            </ScrollTo>

            <ScrollTo ref="prices">
                <Page82 class="pos"/>
            </ScrollTo>
            <ScrollTo ref="vacancies">
                <Page9 class="pos"/>

            </ScrollTo>
            <ScrollTo ref="contacts">
                <Page10 class="pos"/>

            </ScrollTo>
            <Footer :app="this"/>

        </div>

    </div>
</template>

<script>
    import TopMenu from "@/components/TopMenu";
    import ScrollTo from "@/components/ScrollTo";
    import Page1 from "@/components/Page1";
    import Page2 from "@/components/Page2";
    import Page3 from "@/components/Page1-2";
    import Page5 from "@/components/Page5ListMedals";
    import Page6 from "@/components/Page6Process";
    import Page7 from "@/components/Page7";
    import Page8 from "@/components/Page8";
    import Page81 from "@/components/Page8.1";
    import Page82 from "@/components/Page8.2Table";
    import Page9 from "@/components/Page9Vacancies";
    import Page10 from "@/components/Page10Contacts";
    import Footer from "@/components/Footer";
    import SocialButton from "@/components/SocialButton";
    import ListMedals from "@/components/ListMedals";
    import axios from "axios";

    export default {
        name: "App",
        data() {
            return {
                isShowListMedals: false,
                listMedals: [],
                numOpenList: 0,
                lang: [],
                linkMainPage: [],
                language: "ru"
            }
        },
        methods: {
            openListMedals(numOpen) {
                this.numOpenList = numOpen
                this.isShowListMedals = true;
            },
            closeListMedals() {
                this.isShowListMedals = false;
            },
            // getCookie(), setCookie(), deleteCookie()


// возвращает cookie если есть или undefined
            getCookie(name) {

                var matches = document.cookie.match(new RegExp(
                    "(?:^|; )" + name.replace(/([.$?*|{}()[\]\\/+^])/g, '\\$1') + "=([^;]*)"
                ))
                return matches ? decodeURIComponent(matches[1]) : undefined
            },

            // уcтанавливает cookie
            setCookie(name, value, props) {

                props = props || {}

                var exp = props.expires

                if (typeof exp == "number" && exp) {

                    var d = new Date()

                    d.setTime(d.getTime() + exp * 1000)

                    exp = props.expires = d

                }

                if (exp && exp.toUTCString) {
                    props.expires = exp.toUTCString()
                }

                value = encodeURIComponent(value)

                var updatedCookie = name + "=" + value

                for (var propName in props) {

                    updatedCookie += "; " + propName

                    var propValue = props[propName]

                    if (propValue !== true) {
                        updatedCookie += "=" + propValue
                    }
                }

                document.cookie = updatedCookie

            },

            // удаляет cookie
            deleteCookie(name) {

                this.setCookie(name, null, {expires: -1})

            }
        },

        components: {
            ScrollTo, SocialButton, TopMenu, Page1, Page2, Page3,
            Page5, Page6, Page7, Page8, Page82, Page81, Page9, Page10, Footer, ListMedals
        },
        mounted() {
            this.language = this.getCookie("lang")
            if(this.language === undefined) {
                this.language = window.navigator ? (window.navigator.language ||
                    window.navigator.systemLanguage ||
                    window.navigator.userLanguage) : "ru";
                this.language = this.language.substr(0, 2).toLowerCase();

                if (this.language !== 'en' && this.language !== 'zh') {
                    this.language = "ru"
                }
            }

            document.getElementsByTagName("html")[0].lang = this.language

            axios.get('/lang/text_'+this.language+'.json').then(response => {
                this.lang = response.data;
            })
            axios.get('/link_main_page.json').then(response => {
                this.linkMainPage = response.data;
            })



        }


    }
</script>

<style>
    @import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap&subset=cyrillic');
    @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400&display=swap&subset=cyrillic');

    @media screen and (max-width: 3840px) {
        html, body {
            font-family: 'Roboto', sans-serif;
            font-size: 26px;
            margin: 0;
        }
    }

    @media screen and (max-width: 2560px) {
        html, body {
            font-family: 'Roboto', sans-serif;
            font-size: 22px;
            margin: 0;
        }
    }

    @media screen and (max-width: 1920px) {
        html, body {
            font-family: 'Roboto', sans-serif;
            font-size: 19px;
            margin: 0;
        }
    }

    @media screen and (max-width: 1600px) {
        html, body {
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
            margin: 0;
        }
    }


    @media screen and (max-width: 1366px) {
        html, body {
            font-family: 'Roboto', sans-serif;
            font-size: 13px;
            margin: 0;
        }


    }

    @media screen and (max-width: 1024px) {
        html, body {
            font-family: 'Roboto', sans-serif;
            font-size: 10px;
            margin: 0;
        }


    }

    .page {
        position: relative;
        width: 100%;
        height: 50rem;
    }



    .pages {
        overflow-x: hidden;
        position: absolute;
        width: 100%;
    }

    .main-content {
        position: relative;
        width: 100%;
        margin-left: 8rem;
        margin-right: 8rem;
    }


</style>
